body{
    margin:0;
    padding-top:0;
    background-color:#020617;
    color:white;
    
}
.nav-bar{
    display:flex;
   
    
    
    
}
.nav-links{
    display:flex;
    flex-direction:row;
    list-style:none;
    justify-content:center;
    align-items: center;
    text-decoration: double;
    column-gap:20px;
    color:thistle;


}

.hero-image{
    max-width:500px;
    border-radius: 50%;
    
}
.hero-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
   
}

.hero{
    display:flex;
    justify-content:space-around;
    
    }

#about{
    padding-bottom :20px;
}

.btn{
    border-radius:8px;
    background-color:#00b8a9;
    padding:10px;
    color:black;
    text-decoration:none;
    
}

.btn:hover{
    background-color: #00feba;
    color:white;
}
#interest, #ed, #project{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: radius 25px; 
    padding-left:20px;
   
    
}
#interest{
    background-color:#bbbfc8;
    color:black;
    
}

.container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    
    color:thistle;
    max-width: fit-content;
    padding-top:30px;
    background-color: #020617;
    
}
.skills , .framework, .tools{
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   border: 2px solid red;
   color:thistle;
   padding-top:30px;
   padding-bottom:30px;
   border-radius: 20px 50px;
   min-width: 300px;
}

#contact{
    display:flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items:centre;
    background-color:black;
    color:thistle;
    border: 2px solid red;
    padding: 10px;
    border-radius: 20px 50px;
    max-width: 300px;
    margin:auto;
}
#cont{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    
}
#cont-para{
    text-align:center;
     }

#head{
    text-align:center;
   
    
}
#project{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:centre;
    border-radius: 20px 50px;

    max-width: 200px;
}

.footer{
    display:flex;
    justify-content: center;
}

#project{ 
    display:flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items:centre;
   
    
    color:thistle;
    border-radius: 20px 50px;
    max-width: 300px;
    margin:auto;

}
 #gym{
    background-color:#bbbfc8;
    list-style-type:none;
    text-decoration: none;

    padding:30px;
    border-radius:50px 50px;
 }



@media screen and (max-width: 600px){

        .container{
         display:flex;
         flex-direction:column;
         justify-content:space-around;
         align-items:centre;
         max-width: fit-content;
         margin:auto;
        }
        #interest ,#ed , #project{
            margin:auto;
            padding: 20px;
            
        }
        #project{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:centre;
            border-radius: 20px 50px;
            max-width: 200px;
}
        .hero-image{
            max-width:200px;
            border-radius:50%;
            height:auto;
        }
        .hero{
            display:flex;
            flex-direction:column;
            margin:auto;
            padding:20px;

        }
        
     
}
@media (min-width: 601px) and (max-width:928px){
        .hero-image{
            max-width:200px;
            border-radius:50%;
            height:auto;
        }
         .container{
         display:flex;
         flex-direction:column;
         justify-content:space-around;
         align-items:centre;
         max-width: fit-content;
         margin:auto;
        }

}

        
